.wrapper {
    max-width: 1200px;
    margin: auto;
    list-style: none;
    padding: 25px;

}

.item {
    display: flex;
    gap: 2em;
}

.itemInfo {
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.9);
    padding: 2em;
}